.flex-row {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-left: 16px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}
